/* Reset and Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: "Poppins", sans-serif;
}

:root {
  --baseShade1: #ee760d;
  --darkShade1: #854003;
  --lightShade1: #ffd7b4;
  --lightShade2: #fbf2f2;
  --blackShade1: #252d2b;
  --blackShade2: #5b576f;
  --whiteShade1: #ffffff;
  --whiteShade2: #e1e6e5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}
/* Loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--baseShade1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loader img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* Popup*/
#popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.popup-content .btn-container a {
  position: relative;
  display: flex;
  bottom: 100px;
  background-color: var(--baseShade1);
  display: inline-block;
  gap: 50px;
  color: var(--whiteShade1);
  text-decoration: none;
  padding: 0.5em 2em;
  border-radius: 2em;
}
.popup-content img {
  width: 500px;
  height: 500px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--baseShade1);
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.62em 5%;
}
.hero img {
  width: 100vw;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1em 0;
  position: fixed;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 12em;
  display: flex;
  text-decoration: none;
  color: var(--baseShade1);
  font-weight: 600;
}

.logo p {
  font-size: 1.56em;
}

.nav-links {
  display: flex;
  gap: 2em;
}

.nav-links a {
  text-decoration: none;
  color: var(--blackShade1);
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
  display: inline-block;
  padding: 0.2em;
}

.nav-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--whiteShade1);
  transition: width 0.3s ease;
  z-index: -1;
}

.nav-links a:hover {
  color: var(--whiteShade1);
}

.nav-links a:hover:before {
  background-color: var(--baseShade1);
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 0.31em;
}

.hamburger span {
  display: block;
  width: 1.56em;
  height: 0.18em;
  background-color: var(--blackShade1);
  border-radius: 3px;
}

/* Hero Section with Synced Animations */
.hero {
  padding: 6em 8em;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: slideShow 12s infinite;
}
@keyframes slideShow {
  0%,
  30% {
    background-image: url("hero-image-1.JPG");
  }
  33.33%,
  63% {
    background-image: url("hero-image-2.JPG");
  }
  66.66%,
  96% {
    background-image: url("hero-image-3.JPG");
  }
  100% {
    background-image: url("hero-image-1.JPG");
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.slideshow {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen */
  overflow: hidden;
}
.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 15s infinite;
}
.slideshow img:nth-child(1) {
  animation-delay: 0s;
}
.slideshow img:nth-child(2) {
  animation-delay: 5s;
}
.slideshow img:nth-child(3) {
  animation-delay: 10s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*Social Icons*/
.social-icons {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
  width: 80px;
  position: fixed;
  bottom: 200px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0;
  gap: 1.5em;
  z-index: 1000;
}
.social-icons i {
  font-size: 20px;
  color: var(--blackShade1);
}

/* Other Sections */
.rotating-text {
  background-color: var(--baseShade1);
  width: 100%;
  padding: 4em 6em;
}

.text-container {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: var(--whiteShade1);
  text-align: center;
  text-transform: uppercase;
}
/*About Him*/
.about-us {
  padding: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eyebrow-heading {
  display: block;
  position: relative;
  background-color: #ffdfc3;
  padding: 0.5em;
  font-size: 14px;
  color: var(--darkShade1);
  width: fit-content;
}
.fty .eyebrow-heading {
  text-align: center;
  margin: 0 auto;
}
.about-us-left .eyebrow-heading {
  text-align: left;
}
.card-container .eyebrow-heading {
  color: var(--darkShade1);
  text-align: center;
  margin: 0.5em auto;
}
.ebook .eyebrow-heading {
  text-align: center;
  width: 300px;
  margin: 0.5em auto;
}
.vision-mission .eyebrow-heading {
  text-align: center;
  width: 300px;
  margin: 0.5em auto;
}
.political-journey .eyebrow-heading {
  text-align: center;
  width: 300px;
  margin: 0.5em auto;
}
.about-us h2 {
  color: var(--baseShade1);
  font-size: 3em;
}

.about-us-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #000000;
}

.about-us-left img {
  width: 60%;
}

.about-us-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.about-us-right img {
  width: 600px;
}

/* Mission and Vision */
.vision-and-mission {
  padding: 4em 6em;
}
.mission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  margin: 0 auto;
}
.mission img {
  width: 200px;
}
.mission .text-wrapper {
  padding: 4em;
  text-align: justify;
}

.vision {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.vision img {
  width: 200px;
}
.vision .text-wrapper {
  padding: 4em;
  text-align: justify;
}
.vision h3,
.mission h3 {
  color: var(--baseShade1);
}
.fty {
  padding: 4em 6em;
  background-color: #f0f0f1;
}
.fty h2 {
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 2em;
}
.fty-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.fty-content {
  background-color: #ffffff;
  position: relative;
  width: 450px;
  border-radius: 20px !important;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb-page {
  position: relative;
  height: 600px;
  width: 450px;
  display: block;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
}
.like .fty-header {
  background-color: #1877f2;
}

.follow .fty-header {
  background-color: var(--baseShade1);
  color: #ffffff;
}
.subscribe .fty-header {
  background-color: #000000;
  color: #ffffff;
}
.elfsight-app-37ee92e4-6574-43ce-a430-975babc130b7 {
  height: 600px !important;
  display: block !important;
  overflow: hidden;
  left: 15px;
  margin: 0 auto;
  left: 5px;
  border-radius: 20px;
}
.elfsight-app-519d4301-19d9-43dc-a329-b02ccb604e2b {
  left: 0px;
  height: 600px !important;
  overflow: hidden;
  border-radius: 20px;
}
.twitter-embed {
  background-color: #ffffff;
}
.fty-content {
  border-radius: 20px;
}
.fty-container i,
.fty-header div {
  color: #ffffff;
}
.fty-header {
  text-align: center;
  padding: 15px;
  margin-bottom: 2em;
  border-radius: 0.5em;
}
.card-container {
  padding: 4em 6em;
}
.card-container .container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.card-container h2 {
  font-size: 3.5em;
  text-align: center;
}

.card-container h3 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 3em;
  color: var(--baseShade1);
}

.card {
  position: relative;
  overflow: hidden;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  display: block;
  transition: transform 0.4s ease;
}

.card .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover .caption {
  transform: translateY(0);
}
.ebook {
  padding: 4em 6em;
  background-color: #f0f0f1;
}
.ebook-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.ebook .eyebrow-heading {
  margin-top: 3em;
}
.ebook h2 {
  text-align: center;
  font-size: 3.5em;
  margin: 0.3em 3em 0 1.5em 0;
}

.image-container {
  position: relative;
  display: inline-block;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.image-container img {
  width: 300px;
  height: auto;
  display: block;
}

.image-container .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .caption {
  opacity: 1;
}

footer {
  padding: 4em 6em;
  background-color: var(--whiteShade1);
  display: flex;
  gap: 150px;
  justify-content: space-around;
  box-shadow: 0 -15px 35px rgba(0, 0, 0, 0.1);
}
.col-1,
.col-2,
.col-3 {
  flex: 0 0 25%;
}
.col-1 {
  text-align: justify;
}
.col-2 ul {
  list-style: none;
}
.col-2 a {
  position: relative;
  display: block;
  color: var(--baseShade1);
  margin-bottom: 15px;
}
.col-2 h3 {
  margin-bottom: 25px;
}
.col-3 p {
  margin-bottom: 20px;
  text-align: justify;
}
.col-3 i {
  color: var(--baseShade1);
}
.copyright {
  background-color: var(--baseShade1);
  color: var(--whiteShade1);
  padding: 1em 0;
  text-align: center;
}
footer img {
  width: 200px;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

/* About Page */
.about-us-hero {
  display: flex;
  align-items: center;
  padding: 6em 4em;
  margin-top: 6em;
  gap: 100px;
}
.about-us-hero-left {
  text-align: center;
  width: 40%;
}
.about-us-hero-left .name {
  font-size: 2.2em;
  color: var(--baseShade1);
}
.about-us-hero-left .designation {
  font-size: 1.5em;
  color: #000000;
}
.about-us-hero-left .tagline {
  font-size: 1em;
  font-weight: 400;
  color: #606060;
}

.about-us-hero-right {
  width: 60%;
  text-align: justify;
}

.about-us-hero-left {
  width: 40%;
}
.about-us-hero-left img {
  width: 250px;
}

.about-us-hero {
  padding: 4em 6em;
}
.count-up-wrapper {
  position: relative;
  width: 80vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.count-up-container {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #ffffff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-bottom: 10px solid var(--baseShade1);
}
.count-up-container i {
  color: #18f98f;
  font-size: 2.5em;
  text-align: center;
  width: 100%;
  text-align: center;
  color: var(--baseShade1);
}
.count-up-container .num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
  color: #000000;
}
.count-up-container .text {
  color: #505050;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 1.5;
}

/*Mission Vision*/
.vision-mission {
  color: #202020;
  line-height: 1.8;
  background-color: #f0f0f0;
  padding: 4em 6em;
}
.vision-container img {
  width: 200px;
  margin-bottom: 3em;
}
.mission-container img {
  width: 200px;
  margin-bottom: 3em;
}
.mission-vision-container {
  display: flex;
  justify-content: space-around;
}
.vision-mission h2 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 3em;
}
.vision-container,
.mission-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #000000;
}
/*Political Journey */
.political-journey {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
}

.political-journey h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.2em;
  color: var(--blackShade1);
}

.journey-container {
  position: relative;
  border-left: 4px solid var(--baseShade1); /* Instagram Pink Accent */
  padding-left: 30px;
}

.journey-item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 20px;
}

.journey-item::before {
  content: "";
  position: absolute;
  left: -14px;
  top: 6px;
  width: 20px;
  height: 20px;
  background-color: var(--baseShade1);
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.year {
  font-size: 20px;
  font-weight: bold;
  color: var(--baseShade1);
  margin-bottom: 8px;
}

.details {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

.see-timeline-screen {
  height: 50vh;
  width: 100vw;
  background-color: var(--baseShade1);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 400;
  padding: 8em 0;
}
.see-timeline-screen h2 {
  font-size: 40px;
  text-align: center;
}
.see-timeline-screen i {
  color: #ffffff;
  font-size: 80px;
  margin-top: 100px;
}
.timeline {
  position: relative;
  max-width: 960px;
  margin: auto;
  padding: 80px 20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #555555;
  top: 0;
  bottom: 0;
  margin-left: -2px;
  left: 50%;
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 700px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.timeline-item.left {
  left: -240px;
  transform: translateX(-40px) translateY(20px);
}

.timeline-item.right {
  right: -460px;
  transform: translateX(40px) translateY(20px);
}
.timeline-item.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--baseShade1);
  border-radius: 50%;
  top: 20px;
  z-index: 1;
}

.timeline-item.left::before {
  right: -10px;
}

.timeline-item.right::before {
  left: -10px;
}

.timeline-item .content {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px;
  background: #ffffff;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.timeline-item .content:hover {
  transform: translateY(-4px);
}

.timeline-img {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.timeline-item .text {
  display: flex;
  flex-direction: column;
}

.timeline-item.show .icon {
  transform: scale(1.3);
}
.timeline-item h2 {
  color: var(--blackShade1);
  font-size: 1.5em;
}
.timeline-item h3 {
  color: var(--baseShade1);
  font-size: 1;
}
.timeline-item p {
  font-size: 14px;
  color: #202020;
  text-align: justify;
}
/* News Page*/
.news-page-container {
  padding: 4em 6em;
}
.year-btn,
.month-btn {
  margin: 5px;
  padding: 8px 16px;
  cursor: pointer;
  background: var(--baseShade1);
  border: none;
  border-radius: 4px;
  color: white;
}

#month-container {
  margin-top: 15px;
}
#news-container {
  display: grid;
  gap: 20px;
  margin-top: 20px;

  grid-template-columns: repeat(4, 1fr);
}
.news-post {
  width: 300px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}
.news-post:hover {
  transform: scale(1.03);
}
.news-post img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.caption {
  padding: 12px;
  font-size: 16px;
}
/* Modal styles */
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  position: relative;
}
#modal-content img {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  border-radius: 6px;
}
#modal-caption {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}
#modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: var(--baseShade1);
}

.year-btn {
  margin: 1em;
}
.news-heading {
  margin-top: 10em;
}
.year-btn.active {
  background-color: var(--darkShade1);
  color: white;
}
/* Constituency*/
.constituency-section {
  padding: 4em 6em;
}
.constituency-section h2 {
  margin-top: 5em;
  text-align: center;
}
.intro {
  text-align: center;
  color: #666;
  font-size: 18px;
  margin-bottom: 30px;
}

.accordion-item {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  background: var(--baseShade1);
  color: #fff;
  text-align: left;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion-header::after {
  content: "+";
  font-size: 20px;
  transition: transform 0.3s ease;
}

.accordion-header.active::after {
  content: "-";
  transform: rotate(180deg);
}

.accordion-content {
  display: none;
  padding: 15px;
  background: #f9f9f9;
  font-size: 16px;
  line-height: 1.6;
  color: #444;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.matdar-card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.accordion-content a {
  text-decoration: none !important;
  color: #000000;
}
.matdar-card img {
  max-width: 100%;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .constituency-section {
    margin: 20px;
    padding: 15px;
  }
  .accordion-header {
    font-size: 16px;
  }
  .accordion-content {
    font-size: 14px;
  }
}
/* Contact Us Page*/
.contact {
  padding: 4em 6em;
  margin-top: 10em;
}
.contact h2 {
  font-size: 2.5em;
  text-align: center;
}
.contact .sub-heading {
  font-size: 1em;
  text-align: center;
  margin-bottom: 4em;
  color: var(--baseShade1);
}
.contact-us {
  display: flex;
  justify-content: space-between;
}
.contact-us-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-us-left img {
  width: 400px;
}
.contact i {
  color: var(--baseShade1);
  margin-right: 1em;
  height: 40px;
  width: 40px;
  min-width: 40px;
  background-color: var(--baseShade1);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-details p {
  line-height: 1.8;
  display: flex;
  margin-bottom: 1em;
}
.social-media-buttons {
  display: flex;
  margin-bottom: 1em;
}
.social-media-buttons a {
  text-decoration: none;
}
.contact input {
  display: block;
  background-color: #ffffff;
}
.contact-us-right {
  display: flex;
  width: 50%;
  align-items: center;
}
.contact form {
  display: block;
  width: 100%;
  padding: 3.5em;
}
textarea {
  width: 100%;
  border-radius: 0.3em;
  border: 1px solid #000000;
  padding: 1em;
}
.contact form input {
  display: block;
  width: 100%;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 0.3em;
  border: 1px solid #000000;
}
form button {
  background-color: var(--baseShade1);
  color: #ffffff;
  border: none;
  outline: none;
  padding: 1em 2em;
  margin-top: 2em;
  border-radius: 1em;
}
/* Gallery Page */

/* Base styles */
.gallery {
  display: flex;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
}

.gallery h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 4em;
  margin-bottom: 40px;
  color: var(--baseShade1);
}

.gallery-set {
  margin-bottom: 60px;
}

.gallery-set h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #444;
  text-align: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 images per row on desktop */
  gap: 20px;
  padding: 0 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-grid img:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
